<div class="column center">
  
  <div class="podium">
    <div class="podium-block second">
      <div class="podium-rank">2</div>
      <div class="podium-name">{{topPlayers.[1].username}}</div>
    </div>
    <div class="podium-block first">
      <div class="podium-rank">1</div>
      <div class="podium-name">{{topPlayers.[0].username}}</div>
    </div>
    <div class="podium-block third">
      <div class="podium-rank">3</div>
      <div class="podium-name">{{topPlayers.[2].username}}</div>
    </div>
  </div>

  <div class="containerLeaderboard scrollable-leaderboard">
    <table>
      <thead>
        <tr>
          <th>Ranking</th>
          <th>Name</th>
          <th>Total Cookies</th>
        </tr>
      </thead>
      <tbody>
        {{#each fullLeaderboard}}
        <tr>
          <td>{{add @index 1}}</td>
          <td>{{this.username}}</td>
          <td>{{formatNumber this.amountOfCookies}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
