<div class="column right">
    <div class="containerUpgrades2">
        <h1>Events</h1>
    </div>

    <div class="containerUpgrades2">
        <div class="columnhalf">
            <h3>Christmas</h3>
            <button class="Event-button" id="btn-christmas" onclick="showEvent('template-Christmass')">
                <img src="images/ChristmassTree.png" alt="Christmas Tree">
            </button>
        </div>
        <div class="columnhalf">
            <h3>Easter</h3>
            <button class="Event-button" id="btn-easter" onclick="showEvent('template-Easter')">
                <img src="images/eastereggs.png" alt="Easter Eggs">
            </button>
        </div>
        <div class="columnhalf">
            <h3>Halloween</h3>
            <button class="Event-button" id="btn-halloween" onclick="showEvent('template-Halloween')">
                <img src="images/HalloWeen.png" alt="Halloween Pumpkin">
            </button>
        </div>
    </div>

    <!-- Rolling Pin -->
    <div class="containerUpgrades1">
        <div class="columnhalf">
            <h2>Multiplier price: {{upgrades.[0].price}}</h2>
            <button class="upgrade-button" id="multiplier-button-0" onclick="buyUpgrade(0, 'multiplier')">
                <img src="images/LightBrownRollingPin.png" alt="Multiplier Upgrade" class="upgrade-img">
            </button>

            <h2>Discount price: {{upgrades.[1].price}}</h2>
            <button class="upgrade-button" id="discount-button-0" onclick="buyUpgrade(0, 'discount')">
                <img src="images/BrownRollingPin.png" alt="Discount Upgrade" class="upgrade-img">
            </button>
        </div>
        <div class="columndouble">
            <h3>Rolling pin price: {{buildings.[0].price}}</h3>
            <button class="Buildings-button" id="buildingBtn1" onclick="buyBuilding(0)">
                <span class="building-count">{{buildings.[0].amount}}</span>
                <img src="images/RollingPinOnTable.jpg" alt="Rolling Pin" class="building-img">
            </button>
        </div>
    </div>

    <!-- Cookie Monster -->
    <div class="containerUpgrades2">
        <div class="columnhalf">
            <h2>Multiplier price: {{upgrades.[2].price}}</h2>
            <button class="upgrade-button" id="multiplier-button-1" onclick="buyUpgrade(1, 'multiplier')">
                <img src="images/CookieMonster.png" alt="Multiplier Upgrade" class="upgrade-img">
            </button>

            <h2>Discount price: {{upgrades.[3].price}}</h2>
            <button class="upgrade-button" id="discount-button-1" onclick="buyUpgrade(1, 'discount')">
                <img src="images/RedCookieMonster.png" alt="Discount Upgrade" class="upgrade-img">
            </button>
        </div>
        <div class="columndoubleLong">
            <h3>Cookie Monster price: {{buildings.[1].price}}</h3>
            <button class="BigBuildings-button" id="buildingBtn2" onclick="buyBuilding(1)">
                <span class="building-count">{{buildings.[1].amount}}</span>
                <img src="images/CookieMonster.jpg" alt="Cookie Monster" class="big-building-img">
            </button>
        </div>
    </div>

    <!-- Iron Furnace -->
    <div class="containerUpgrades1">
        <div class="columnhalf">
            <h2>Multiplier price: {{upgrades.[4].price}}</h2>
            <button class="upgrade-button" id="multiplier-button-2" onclick="buyUpgrade(2, 'multiplier')">
                <img src="images/furnace.png" alt="Multiplier Upgrade" class="upgrade-img">
            </button>

            <h2>Discount price: {{upgrades.[5].price}}</h2>
            <button class="upgrade-button" id="discount-button-2" onclick="buyUpgrade(2, 'discount')">
                <img src="images/blast-furnace.png" alt="Discount Upgrade" class="upgrade-img">
            </button>
        </div>
        <div class="columndouble">
            <h3>Iron furnace price: {{buildings.[2].price}}</h3>
            <button class="Buildings-button" id="buildingBtn3" onclick="buyBuilding(2)">
                <span class="building-count">{{buildings.[2].amount}}</span>
                <img src="images/furnace.jpg" alt="Iron Furnace" class="building-img">
            </button>
        </div>
    </div>
</div>
