<!-- === In your main template (right column) === -->
<div class="column right">
  <div class="containerUpgrades2">
    <h1>Events</h1>
  </div>
  <div class="containerUpgrades2">
    <div class="columnhalf">
      <h3>Christmas</h3>
      <button class="Event-button" id="btn-christmas" onclick="showEvent('template-Christmass')">
        <img src="images/ChristmassTree.png" alt="Christmas Tree">
      </button>
    </div>
    <div class="columnhalf">
      <h3>Easter</h3>
      <button class="Event-button" id="btn-easter" onclick="showEvent('template-Easter')">
        <img src="images/eastereggs.png" alt="Easter Eggs">
      </button>
    </div>
    <div class="columnhalf">
      <h3>Halloween</h3>
      <button class="Event-button" id="btn-halloween" onclick="showEvent('template-Halloween')">
        <img src="images/HalloWeen.png" alt="Halloween Pumpkin">
      </button>
    </div>
  </div>
        <div class="containerUpgrades1">
            <div class="columnhalf"> 
                <th>
                    <h2>Multiplier price: {{multiplierPrice}}</h2>
                    <button class="upgrade-button" id="upgradeBtn1">
                        <img src="images/LightBrownRollingPin.png" alt="Multiplier Upgrade" class="upgrade-img">
                    </button>
                </th>
                <th>
                    <h2>Discount price: {{discountPrice}}</h2>
                    <button class="upgrade-button" id="upgradeBtn2">
                        <img src="images/BrownRollingPin.png" alt="Discount Upgrade" class="upgrade-img">
                    </button>
                </th>
            </div>
            <div class="columndouble">
                <h3>Rolling pin price: {{buildings.[0].price}}</h3>
                <button class="Buildings-button" id="buildingBtn1" onclick="buyBuilding(0)">
                    <span class="building-count">{{buildings.[0].amount}}</span>
                    <img src="images/RollingPinOnTable.jpg" alt="Rolling Pin" class="building-img">
                </button>
            </div>
        </div>

        <div class="containerUpgrades2">
            <div class="columnhalf"> 
                <th>
                    <h2>Multiplier price: {{multiplierPrice}}</h2>
                    <button class="upgrade-button" id="upgradeBtn3">
                        <img src="images/CookieMonster.png" alt="Multiplier Upgrade" class="upgrade-img">
                    </button>
                </th>
                <th>
                    <h2>Discount price: {{discountPrice}}</h2>
                    <button class="upgrade-button" id="upgradeBtn4">
                        <img src="images/RedCookieMonster.png" alt="Discount Upgrade" class="upgrade-img">
                    </button>
                </th>
            </div>
            <div class="columndoubleLong">
                <h3>Cookie Monster price: {{buildings.[1].price}}</h3>
                <button class="BigBuildings-button" id="buildingBtn2" onclick="buyBuilding(1)">
                    <span class="building-count">{{buildings.[1].amount}}</span>
                    <img src="images/CookieMonster.jpg" alt="Cookie Monster" class="big-building-img">
                </button>
            </div>
        </div>
        <div class="containerUpgrades1">
            <div class="columnhalf"> 
                <th>
                    <h2>Multiplier price: {{multiplierPrice}}</h2>
                    <button class="upgrade-button" id="upgradeBtn1">
                        <img src="images/furnace.png" alt="Multiplier Upgrade" class="upgrade-img">
                    </button>
                </th>
                <th>
                    <h2>Discount price: {{discountPrice}}</h2>
                    <button class="upgrade-button" id="upgradeBtn2">
                        <img src="images/blast-furnace.png" alt="Discount Upgrade" class="upgrade-img">
                    </button>
                </th>
            </div>
            <div class="columndouble">
                <h3>Iron furnace price: {{buildings.[2].price}}</h3>
                <button class="Buildings-button" id="buildingBtn1" onclick="buyBuilding(2)">
                    <span class="building-count">{{buildings.[2].amount}}</span>
                    <img src="images/furnace.jpg" alt="Rolling Pin" class="building-img">
                </button>
            </div>
        </div>
    </div>
    
</div>